@use "../utils/mixins" as *;
@use "../utils/variables" as *;

.nav__link {
  transition: color 0.25s ease-in-out;
  /*Underline animation*/
  position: relative;
  &::after {
    transition: width 0.25s ease-in-out;
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    display: block;
    background: $textColor;
    bottom: -0.3rem;
    @include size(0%, 0.1rem);
    border-radius: 0.5rem;
  }

  &:link,
  &:visited {
    color: $textColor;
  }
  /*When link is avtibe*/
  &--active,
  &:hover {
    &::after {
      width: 100%;
    }
  }
}
