@use "../utils/mixins" as *;
@use "../utils/variables" as *;
.dtb__impressum {
  justify-content: flex-start;
  gap: 5rem;
  @include size(100%, 100%);
  line-height: 2.5rem;
  padding: 5rem;

  @media (min-width: 1500px) {
    width: 80%;
  }

  h1 {
    font-size: 5.2rem;
  }

  @media (max-width: 1200px) {
    overflow-y: scroll;
  }

  section {
    @include flex(column);
    align-items: flex-start;
    width: 100%;

    @media (max-width: 1500px) {
      h2 {
        font-size: 2rem;
      }
      p {
        font-size: 1.4rem;
      }
    }
  }

  /******************Scrollbar Section*****************/
    &::-webkit-scrollbar {
      @include size(0.7rem);
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: $bodyTextColor;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $textColor;
      background: lighten($textColor, 10%);
      border-radius: 10rem;
    }
}
